{% extends 'layoutss/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Dishes for {{ restaurant.name }}
{% endblock title %}

{% block content %}
<div class="container mt-4">
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-3092d86d-d5a4-43c8-a04f-fdc3786ddfa8"></div>
    <h1>Dishes for {{ restaurant.name }}</h1>
    <p><span class="badge-primary">Address: </span>{{restaurant.address}}</p>

    <div class="row">
        {% for dish in dishes %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="row">
                    <div class="col-5">
                        {% if dish.image %}
                        <img src="{{ dish.image.url }}" class="card-img-top" alt="{{ dish.name }}">
                        {% endif %}
                    </div>
                    <div class="col-6">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">{{ dish.name }}</h5>
                            <p class="card-text" style="font-style: italic;">{{ dish.description }}</p>
                            <p class="card-text" style="color: crimson;">Price: #{{ dish.price }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}